<h1>Signup Page</h1>

<form method="POST" action"/users">
  <p><input type="text" value="username" placeholder="username"></p>
  <p><input type="email" value="email" placeholder="email"></p>
  <p><input type="password" value="password" placeholder="password"></p>

  <input type="submit" value="Submit">  
</form>